<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bloco de notas</title>
    <link rel="stylesheet" th:href="@{css/login-cadastro.css}">
</head>
<body>
    <div class="container">
        <div class="link-cima">
            <a th:href="@{/}" class="arcoiris-link">voltar para a página inicial</a>
        </div>
        <h1>bloco de notas</h1>
        <h1>cadastro</h1>
        <p>Cria uma conta e comece a usar o bloco de notas imediatamente.</p>
        <p>Já tem uma conta? <a th:href="@{/login}" class="arcoiris">Clique aqui</a></p>

        <form th:action="@{/cadastro}" method="post">
            <div class="input-form">
                <input type="text" name="nome" placeholder="Nome">
                <button type="button">usuario</button>
            </div>
            <div class="input-form">
                <input type="password" name="senha" placeholder="Senha">
                <button type="button">senha</button>
            </div>

            <button type="submit" class="botao-diferente">cadastrar</button>
        </form>

        <p th:text="${erro}"></p>
    </div>
</body>
</html>